<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div>
      <ion-row class="row">
        <ion-col size="2">
          <img src="{{picture}}" class="perfil1" (click)="Perfil()" />
        </ion-col>
        <ion-col size="9">
          <img src="../../assets/imagens/logo2.png" class="logo">
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header>

<div>
  <ion-toolbar color="medium">
    <ion-title>Bem vindo, Nutricionista!</ion-title>
  </ion-toolbar>
</div>

<ion-content padding>
  <div class="centro">
    <ion-col>
      <img src="../../assets/imagens/usuarios.png" class="escolha">
      <h3>Ir para o Chat com Usuários</h3>
      <h6>Faça suas consultas</h6>
      <ion-button expand="block" size="default" color="dark" (click)="ListaDeUsuarios()">Ir</ion-button>
    </ion-col>
  </div>

</ion-content>